/* Whole page */
@import url('https://fonts.googleapis.com/css2?family=Braah+One&display=swap');

.App {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Braah One', sans-serif;
}


/* Form */
.form {
  border: 2px solid gray;
  border-radius: 10px;
  width:100%;
  max-width: 540px;
  box-shadow:10px 10px lightblue;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
}

.not-completed-item {
  list-style-type: none;
  margin: 6px;
  font-size: 20px;
}

.completed-item {
  list-style-type: none;
  margin: 6px;
  font-size: 20px;
  text-decoration: line-through;
}

/* Add button */
.btn {
  background-color: lightblue;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  cursor: pointer;
  padding: 8px;
  font-size: 14px;
  font-weight: 500;
  vertical-align: middle;
}

.btn:hover {
  background-color: rgb(151, 217, 239);
}

.add-edit-btn {
  background-color: rgb(103, 210, 116);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  cursor: pointer;
  padding: 8px;
  font-size: 14px;
  font-weight: 500;
  vertical-align: middle;
}

.add-edit-btn:hover {
  background-color: rgb(68, 201, 84);
}


/* Delete button */
.btn-delete {
  background-color: lightblue;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  cursor: pointer;
  padding: 6px;
  font-size: 14px;
  font-weight: 500;
  margin: 4px;
  vertical-align: middle;
}

.btn-delete:hover {
  background-color: rgb(151, 217, 239);
}


/* Input */
.input {
  border-radius: 8px;
  box-sizing: border-box;
  padding: 6px;
  margin: 4px;
}


/*Edit button */
.btn-edit {
  background-color: lightblue;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  cursor: pointer;
  padding: 6px;
  margin: 4px;
  font-size: 14px;
  font-weight: 500;
  vertical-align: middle;
}

.btn-edit:hover {
  background-color: rgb(151, 217, 239);
}


.clear-all {
  background-color: rgb(192, 18, 18);
  color: rgb(231, 165, 165);
  border-radius: 12px;
  box-sizing: border-box;
  cursor: pointer;
  padding: 8px;
  margin: 4px;
  font-size: 14px;
  font-weight: 600;
}


.edit-img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12px;
  width: 14px;
}

.delete-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12px;
  width: 14px;
}